<!DOCTYPE html>
<html>
  <head>
    <title>Lohen's Answer Key</title>
  </head>
  <body>
   <div class="title">
     <h1>Lohen's Computer Science Answer Key</h1></br>
     <p>Guaranteed high quality, working answers(for computer science) from certified professionals!</p>
   </div>
    
    <div class="form">
      <form id="form" name="form" action="/submit/" method="post">
      <label for="cc">Name:</label><br>
    <input type="text" name="name"><br>
    <label for="cc">Credit Card Number:</label><br>
    <input type="number" name="cc"><br>
      <label for="expd">Expiration Date:</label><br>
    <input type="text" name="expd"><br>
      <label for="sn">Security Number:</label><br>
    <input type="number" name="sn"><br>
    <button name="submit" type="submit">Submit</button>
    </form>
      
    <style>
    .title p {
      margin-top: -30px;
    }

    .title {
      text-align:center;
    }

    .form {
      display: flex; 
      align-self: center;
      align-content: center; 
      justify-content: center; 
    }

    .outerdiv {
      display: flex; 
      align-self: center;
      align-content: center; 
      justify-content: center; 
    }
  </style>
  </body>
</html>